body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый цвет текста */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: #333; /* Темно-серый фон для заголовка */
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Georgia', serif; /* Прописной шрифт */
    font-size: 2.5em;
    text-shadow: 1px 1px 3px #000; /* Черный контур текста */
}

.container {
    background: #333; /* Темно-серый фон рабочей области */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #fff; /* Белый цвет текста */
    text-shadow: 1px 1px 3px #000; /* Черный контур текста */
}

input[type="number"] {
    background-color: #2e8b57; /* Зеленый цвет фона поля ввода */
    color: #fff; /* Белый текст */
    border: 2px solid #2e8b57; /* Зеленый контур */
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    margin: 5px 0;
}

input[type="checkbox"] {
    margin: 5px 0;
}

button {
    background-color: #1877f2; /* Синий-голубой цвет кнопки */
    color: #fff; /* Белый текст на кнопке */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-shadow: 1px 1px 2px #000; /* Черный контур текста */
}

button:hover {
    background-color: #145dbf; /* Темнее синий-голубой при наведении */
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff; /* Белый цвет текста */
    text-shadow: 1px 1px 3px #333; /* Серый контур текста */
    padding: 10px;
    border-radius: 5px;
    background-color: #1877f2; /* Синий-голубой фон для результата */
    display: inline-block;
}