body {
    font-family: Arial, sans-serif;
    background-color: #ff69b4; /* Розовый фон */
    color: #fff; /* Белый цвет текста */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff; /* Белый фон контейнера */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #fff; /* Белый цвет заголовка */
    text-shadow: 1px 1px 2px #000; /* Черный контур текста */
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #fff; /* Белый цвет текста */
    text-shadow: 1px 1px 2px #000; /* Черный контур текста */
}

input[type="number"],
input[type="checkbox"] {
    margin: 5px 0;
}

button {
    background-color: #000; /* Черный фон кнопки */
    color: #fff; /* Белый текст на кнопке */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-shadow: 1px 1px 2px #fff; /* Белый контур текста */
}

button:hover {
    background-color: #333; /* Темно-серый фон при наведении */
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    word-wrap: break-word;
    color: #fff; /* Белый цвет текста */
    text-shadow: 1px 1px 2px #000; /* Черный контур текста */
}